#GUIContainer {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  right: 0;
  top: 10%;
  width: 680px;
  border-width: 0;
  transform-origin: 50% 0%;
  -webkit-box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  overflow: hidden;
}
