/* Roboto Font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url(./Roboto-Regular.woff2) format('woff2');
}
/* Material Font*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./MaterialIcons-Regular.woff2) format('woff2');
}
