html {
  background-color: #eeeeee;
}

.options-container {
  background-color: #ffffff;
  margin: auto;
  position: relative;
  top: 50%;
  width: 60%;
  margin-top: 80px;
}

.options-form {
  padding: 10px;
}

.option {
  padding-bottom: 10px;
}

.options-separator {
  margin-bottom: 5px;
  color: #f1f1f1;
}

.options-save {
  margin-top: 5px;
  margin-right: 10px;
}

.options-icon {
  margin-top: 5px;
}

// http://www.jimmyscode.com/css-styling-for-kbd-tags/
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

.tooltip {
  float: right;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 3;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.keyboard-shortcut-heading {
  padding-bottom: 20px;
}
